<div class="car-item">
    <div class="container">

        <div class="photo">
            <img
                src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?cs=srgb&dl=pexels-mike-b-170811.jpg&fm=jpg">
        </div>
        <div class="text">
            <div class="item-header">
                <b>{{brand}} {{model}}</b>
            </div>
            <div class="item-body">
                <p><b>Engine capacity:</b> {{engineCapacity}}</p>
                <p><b>Color:</b> {{color}}</p>
                <p><b>Price:</b> {{currentPrice}} $</p>
                <p><b>Description:</b> {{description}}</p>
            </div>
            <div class="go-back-button">
                <button class="button-17">Go back</button>
            </div>
        </div>
    </div>


</div>