<div class="app-header">
    <div class="container">
        <div class="photo">
            <img src="https://www.pngmart.com/files/22/Car-Logo-PNG-Transparent.png">
        </div>
        <div class="title">
            <p [routerLink]="['']"><b>{{title}}</b></p>
        </div>
        <div class="bar">
            <div class="create-car">
                <button class="button-17" [routerLink]="['/create-car']">Create car</button>
            </div>
            <div class="create-car">
                <button class="button-17" [routerLink]="['/brands']">Brands</button>
            </div>
            <div class="create-car">
                <button class="button-17" [routerLink]="['/create-brand']">Create brand</button>
            </div>
        </div>
    </div>
</div>
