<div class="app-header">
    <div class="container">
        <div class="photo">
            <img src="https://www.pngmart.com/files/22/Car-Logo-PNG-Transparent.png">
        </div>
        <div class="title">
            <p><b>{{title}}</b></p>
        </div>
        <div class="search-bar">
            <form class="search-car-form">
                <input type="text" class="m-r">
                <button class="search-button m-r">Search</button>
                <button class="clear-button m-r">Clear</button>
            </form>
        </div>
    </div>
</div>
