<div class="car-item">
    <div class="photo">
        <img src="https://images.pexels.com/photos/170811/pexels-photo-170811.jpeg?cs=srgb&dl=pexels-mike-b-170811.jpg&fm=jpg">
    </div>
    <div class="text">
        <div class="item-header">
            <b>{{car.brand.name}} {{car.model}}</b>
        </div>
        <div class="item-body">
            <p>Price: {{car.currentPrice}} $</p>
        </div>
    </div> 
    <div class="go-to-cat-button">
        <button class="button-17" [routerLink]="['/' + car.id]">More</button>
    </div>   
</div>
